$BLACK_BACKGROUND: #1d2532;
$SUB_BACKGROUND: #2d343f;
$PRIMARY: #8163f6;
$TEXT_WHITE: #f9fdff;
$TEXT_SECONDARY: #7d8796;
$DANGER: #b6434b;
$SUCCESS: #8c9f61;

$WHITE: #fefefe;

$TEXT_PRIMARY: #333333;
