@use '/src/styles/constants/colors';

.gnbContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  color: var(--text);
  background-color: var(--color-sub-background);

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    li {
      width: 50px;
      height: 50px;

      a {
        cursor: pointer;

        path {
          color: var(--danger);
        }
      }
    }
  }
}

.darkModeToggleBtn {
  position: relative;
  display: flex;
  align-items: center;
  width: 50px;
  height: 30px;
  color: var(--text);
  background-color: gray;
  border: 3px solid gray;
  border-radius: 15px;

  .under {
    width: 50%;
    height: 99%;
    text-align: center;
    transition: 0.2s ease-out;
  }

  .toggleButton {
    position: absolute;
    width: 50%;
    height: 99%;
    font-weight: 700;
    background: colors.$PRIMARY;
    border-radius: 25px;
    transition: 0.2s ease-in-out;

    &:hover {
      background: colors.$PRIMARY;
    }
  }
}
